$white: white;
$side_gray_light: #253141;
$side_gray_dark: #2f3e51;
$light_blue: #38AEF0;
$border_line: #eeeeee;
$text_gray: #333333;
$light_gray: #999999;
$chat_main: #fafafa;
$form_submit: #d2d2d2;
$comments: #434a54;