.chat-main{
  width: calc(100vw - 300px);
  float: left;
  .chat-main__group-info{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $border_line;
    overflow: scroll;
    .main-header__leftbox {
      margin-top: 35px;
      .main-header_left-box_current-group {
        font-size: 20px;
        color: $text_gray;
        margin-bottom: 15px;
      }
      .main-header__leftbox_member-list {
        display: flex;
        font-size: 12px;
        color: $light_gray;
      }
    }
   
      .main-header__edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px $light_blue;
        position: absolute;
        right: 40px;
        .edit-btn__info{
          color: $light_blue;
          text-decoration: none;
        }
      }
  }
  .chat-main__message-list{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: $chat_main;
    overflow: scroll;
  }
  .form{
    height: 90px;
    padding: 20px 40px;
    background-color:$form_submit;
    form{
      display: flex;
      .form__box{
        position: relative;
        width: 100%;
        &__message{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: $black;
          border-style: none;
        }
        &__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          .icon{
            display: inline-block;
          }
          .hidden{
            display: none;
          }
        }
       }
     }
     .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: $light_blue;
      color: $white;
      cursor: pointer;
    }
  }
}